<!DOCTYPE html>

<head>
    <title>Forgot Password</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/GHlogo.png" type="image/png">
    <link rel="stylesheet" href="/static/css/LandingPage.css">
</head> 

<body>

    <div class="welcome-message">
        Welcome to <span class="bold-text">Grade</span><span class="orange-box">Hub</span> -- version 1.4

    </div>

    <div class="container">
        <div class="rectangle">
            <h2>Forgot Password</h2>
            <p>
                By pressing the link below, you will be asked to send an email that contains your name and username.<br>
                The email you request the reset from, must be the same as the one you are registered to.<br>
                You then need to wait for the email that will give you your new password (this may take 2-3 hours)<br>
            </p>
            <form id="emailForm">
                <a href="mailto:gradehub.info@gmail.com?subject=Reset%20Password&body=Name%3A%0AUsername%3A">gradehub.info@gmail.com</a>.
             </form>
        </div>
    </div>

    <footer>
        <p class="copyrights">
            <span class="bold-text">Grade</span><span class="orange-box">Hub</span> Database &copy; 2023. All rights
            reserved.<br> 
        </p>
    </footer>


</body>

<script>
    document.getElementById('sendEmail').addEventListener('click', function () {
        var name = document.getElementById('name').value;

        // Send a request to the server to handle email sending
        fetch('/send_email', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name: name })
        })
            .then(function (response) {
                if (response.status === 200) {
                    alert('Email sent successfully!');
                } else {
                    alert('Email sending failed. Please try again later.');
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    });
</script>

</html>