<!DOCTYPE html>
<html>

<head>
    <title>Student Home Page</title>
    <link rel="icon" href="../static/GHlogo.png" type="image/png">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/HomePage.css">
</head>

<body>
    <header>
        <h1>
            <span id="title"><span class="bold-text">Grade</span><span class="orange-box">Hub</span></span>
            <button id="logout-button"><a href="/">🔒</a></button>
            <span id="user-greeting">Hello,<span id="student-name"></span>!</span>
        </h1>
    </header>
    <div class="tile">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/add_friends">Add Friends <ba id="circleContainer"></ba> </a></li>
            <li><a href="/change_courses">Change my Courses</a></li>
            <li><a href="/my_grades">My Grades</a></li>
            <li><a href="/my_active_courses">My Active Courses</a></li>
            <li><a href="/my_friends">My Friends</a></li>
            <li><a href="/september">September</a></li>
        </ul>
    </div>

    <div class="container">
        <h2>My Active Courses</h2>
        <h3>Τα μαθήματα που έχω εγγραφεί σε αυτό το ακαδημαϊκό έτος</h3>
        <div id="course-container"></div>

    </div>
    <script>

        // Retrieve student data from localStorage
        try {
            let studentData = JSON.parse(localStorage.getItem('user'));
        } catch {
            window.location.href = "/";
        }
        let studentData = JSON.parse(localStorage.getItem('user'));



        // Update student information in the HTML
        document.getElementById('student-name').textContent = studentData.name;




        async function fetchConfirmation() {
            try {
                const response = await fetch(`http://localhost:5500/confirmation/${studentData.username}/${studentData.password}`, {
                    method: 'GET',
                    credentials: 'include', // Include cookies in the request
                });
                const studentsData = await response.json();

                return studentsData;
            } catch (error) {
                console.error('Error fetching student info:', error);
                return null;
            }
        }
        async function security() {
            const get_me = await fetchConfirmation(studentData.username, studentData.password);
            if (get_me[0] === undefined) {
                window.location.href = '/'; // Redirect to '/landing'
            }
        }

        let hasCodeExecuted = false;
        function runOnce() {
            if (!hasCodeExecuted) {
                hasCodeExecuted = true;
                security();
            }
        }
        document.addEventListener("DOMContentLoaded", runOnce);


        async function myfetchCourses() {
            try {
                const response = await fetch(`http://localhost:5500/my_courses/${studentData.student_id}`, {
                    method: 'GET',
                    credentials: 'include', // Include cookies in the request
                });
                const rentsData = await response.json();
                return rentsData;
            } catch (error) {
                console.error('Error fetching rent info:', error);
                return null;
            }
        }



        async function sept_specs() {
            try {
                const response = await fetch(`http://localhost:5500/sept_stats/${studentData.student_id}`, {
                    method: 'GET',
                    credentials: 'include', // Include cookies in the request
                });
                const rentsData = await response.json();
                return rentsData;
            } catch (error) {
                console.error('Error fetching stats info:', error);
                return null;
            }
        }
        async function WhoIsGoing(CourseID) {
            try {
                const response = await fetch(`http://localhost:5500/students_going/${CourseID}`, {
                    method: 'GET',
                    credentials: 'include', // Include cookies in the request
                });
                const rentsData = await response.json();
                return rentsData;
            } catch (error) {
                console.error('Error fetching rent info:', error);
                return null;
            }
        }

        async function displayCourses() {
            const myPendCourses = await myfetchCourses();
            const stats = await sept_specs();
            let average = stats.average;
            let pass = stats.passCount;

            if (myPendCourses && myPendCourses.length > 0) {
                const courseContainer = document.querySelector('.container');
                let currentSemester = 0;

                myPendCourses.forEach(async (course, index) => {
                    if (course.semester !== currentSemester) {
                        currentSemester = course.semester;

                        // Create a heading for the semester
                        const semesterHeading = document.createElement('h3');
                        semesterHeading.textContent = `Semester ${currentSemester}`;
                        courseContainer.appendChild(semesterHeading);

                        // Create a table for the courses in the semester
                        const currentTable = document.createElement('table');
                        courseContainer.appendChild(currentTable);

                        // Create table header
                        const tableHeader = document.createElement('tr');
                        const headers = ['Name'];

                        headers.forEach((headerText) => {
                            const th = document.createElement('th');
                            th.textContent = headerText;
                            tableHeader.appendChild(th);
                        });

                        currentTable.appendChild(tableHeader);
                    }

                    // Create table row for the course
                    const currentTable = courseContainer.lastChild;
                    const row = document.createElement('tr');


                    const nameCell = document.createElement('td');
                    nameCell.textContent = course.name;
                    row.appendChild(nameCell);

                    currentTable.appendChild(row);
                });
            } else {
                displayZeroResultsTable()
            }
        }


        displayCourses();


        // Create a function to display the "zero results" table
        function displayZeroResultsTable() {
            const courseContainer = document.querySelector('#course-container');
            courseContainer.innerHTML = ''; // Clear existing courses

            const zeroResultsTable = document.createElement('table');
            const zeroResultsRow = document.createElement('tr');
            const zeroResultsCell = document.createElement('td');

            // Apply CSS styles to center the message horizontally and vertically
            zeroResultsTable.style.width = '100%'; // Make the table width 100% of its parent container
            zeroResultsTable.style.display = 'flex';
            zeroResultsTable.style.alignItems = 'center';
            zeroResultsTable.style.justifyContent = 'center';
            zeroResultsTable.style.paddingTop = '20px';

            zeroResultsCell.style.backgroundColor = 'lightgreen'; // Choose your desired background color
            zeroResultsCell.style.padding = '20px'; // Add some padding for spacing
            zeroResultsCell.style.textAlign = 'center';


            zeroResultsCell.textContent = 'Oh no, you have zero active courses';
            zeroResultsRow.appendChild(zeroResultsCell);
            zeroResultsTable.appendChild(zeroResultsRow);

            courseContainer.appendChild(zeroResultsTable);
        }


        async function fetchFriends() {
            try {
                const response = await fetch(`http://localhost:5500/list_friends/${studentData.student_id}`, {
                    method: 'GET',
                    credentials: 'include', // Include cookies in the request
                });
                const data = await response.json();
                return data;
            } catch (error) {
                console.error('Error fetching students data:', error);
                return null;
            }
        }

        // Display pending friend requests
        async function HowManyPending() {
            const friendsData = await fetchFriends();
            let counter = 0;
            if (friendsData) {

                friendsData.forEach(friend => {
                    if (friend.status === 'pending' && friend.receiver_id === studentData.student_id) {
                        counter += 1;
                    }
                });
            }
            return counter;
        }
        async function HowManyPendingCircle() {
            const NumPending = await HowManyPending();
            if (NumPending != 0) {
                const circleElement = document.createElement('div');
                circleElement.classList.add('circle');
                circleElement.innerText = NumPending;
                const containerElement = document.getElementById('circleContainer');
                containerElement.appendChild(circleElement);
            }
            else {
                const containerElement = document.getElementById('circleContainer');
                containerElement.innerHTML = ''; // Clear the container if NumPending is zero
                return; // Exit the function  }
            }
        }
        HowManyPendingCircle();
    </script>
</body>

</html>